#{extends 'standardForm.html' /}
#{set title:'Raspored rada'/}

<script>

function sync(item){
	oznaka = item.find(".nm_oznaka").html()
    naziv = item.find(".nm_naziv").html()
    //var smthn = highlighted;
	//console.log(item.find(".drzava").attr("value"))
	drzval = item.find(".drzava").attr("value");
    //drzava = item.find(".drzava").html();
	//console.log(drzava)
    postanskiBroj = item.find(".nm_postanskiBroj").html()
    id = item.find(".id").html()
    $("#naseljenoMesto_oznaka").val(oznaka);
    $("#naseljenoMesto_naziv").val(naziv);
    $("#naseljenoMesto_postanskiBroj").val(postanskiBroj);
    $("#naseljenoMesto_id").val(id);
    //console.log(drzava.val());
    $("#drzava").val(drzval);
}

</script>

<p>
<ul>
  <li><a href="@{RasporediRada.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{RasporediRada.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="http://localhost:9000/Logout/show" id = "nextform">Izloguj se<img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Raspored rada za korisnike</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Datum</th> 
	   <th>Smena</th>
	   <th>Radnik</th>
	</tr>
#{list items:rasporedZaPrikaz, as:'raspored'}
	<tr #{if raspored.id == selectedIndex} class = "highlighted trww" #{/if} class="trww">
		<td class = "datum">${raspored.datum}</td>
		<td class = "smena">${raspored.smena}</td>
		<td value="${raspored.korisnik.id}" class = "korisnik">${raspored.korisnik.ime}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${raspored.id}</td>
	</tr>
#{/list}
</table>
</div>
