<html>
<head>
<title>Rezervacija stola</title>
<style>
.button {
    background-color: #4CAF50;
	width: 150px;
	height: 100px;
}

.button2 {
    background-color: #ff0000;
	width: 150px;
	height: 100px;
}

</style>
</head>
    <body align="center">
    </br>
    
    
<p>
<ul>

  <li><a href="@{Rezervacije.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  
</ul>
</p>

#{set 'action'}	
		  
		  #{if mode == 'add'}
       		 @{Rezervacije.create()}
   		  #{/if}
    	    
#{/set}
    
    
    
    <h1>Raspored stolova u ${restoran.nazivRestorana}</h1>
    
    </br>
    </br>
        
		<h2>Rezervisite sto</h2>
		
        <table border="0" align="center">
            <script language="javascript" type="text/javascript">
            
            	var dimX = ${restoran.dimX};
				var dimY = ${restoran.dimY};
				var brojtolova= ${brojStolova};
				var brojac=0;
				var idd=1;
				var sto = ${stolovizaprikaz.nazivStola};
				var rez = ${rezervacijeZaPrikaz.sto.nazivStola};
				
				
                for (var i = 1; i <= dimX; i++) 
                {
                	document.write("<tr>");
                	
                	for(var j=1 ; j<=dimY; j++){
                		
                		for(var k=0 ; k<rez.length; k++){	
                			if(sto[brojac] == rez[k] && brojac<brojtolova){
		    					document.write("<td><button "  + " class=button2 onclick=reply_click(this.id)>" + sto[brojac] + "</button></td>"); 
		    					brojac++;
		    					idd++;
                			}
                		}
                		
                		if(brojac<brojtolova){
	                		document.write("<td><button id=" + idd + " class=button onclick=reply_click(this.id)>" + sto[brojac] + "</button></td>"); 
	    					brojac++;
	    					idd++;
                		}
                	}
                	
                	document.write("</tr>");
                }
               

            </script>            
        </table>

<script>
    function reply_click(clicked_id)
    {
    	document.getElementById(clicked_id).style.background='#ff0000';
    	document.getElementById("brojStola").value = clicked_id;
        //alert(clicked_id);
    }
</script>
  
  
    
    
<div class = "panel">
<p>
	
	#{set 'action'}
    #{if mode == 'add'}
        @{Rezervacije.create()}
    #{/if}
  	#{/set} 
	
		<form action = "${action}">
					
				<p>
				#{field 'broj'}
					<label for = "${field.id}">Broj stola</label>
					<input style="margin-left: 50px; type = "text" name = "${field.name}" id = "brojStola" readonly/>
				#{/}
				</p>
				
				<p>
				#{field 'datumVreme'}
					<label for = "${field.id}">Datum i vreme</label>
					<input type = "date" name = "${field.name}" id = "${field.id}"/>
					<!-- bio je type="date"  -->
				#{/}
				</p>
				<p>
				#{field 'trajanje'}
					<label for = "${field.id}">Trajanje</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<!-- bio je type="date"  -->
				#{/}
				</p>>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
				</div>			
				
		</form>
</p>
</div>
    
    
     
</body>
</html>

