#{extends 'standardForm.html' /}
#{set title:'Porudzbine'/}

<p>
<ul>
  <li><a href="@{PorudzbinePica.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{PorudzbinePica.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{PorudzbinePica.show("add",null)}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{PorudzbinePica.show("prihvati",null)}" id = "add"> prihvati porudzbinu<img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="http://localhost:9000/Logout/show" id = "nextform">Izloguj se<img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="http://localhost:9000/Korisnici/homepage" id = "nextform">Home page<img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Podrudzbine</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Restoran</th> 
	   <th>Pice</th>
	</tr>
	
#{list items:porudzbineZaPrikaz, as:'porudzbina'}
	<tr #{if porudzbina.id == selectedIndex} class = "highlighted" #{/if}>
		<td value="${porudzbina.restoran.id}" class = "restoran">${porudzbina.restoran.nazivRestorana}</td>
		<td value="${porudzbina.pice.id}" class = "pice">${porudzbina.pice.nazivPica}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${porudzbina.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
		  #{if mode == 'prihvati'}
		    @{PorudzbinePica.prihvati()}
		  #{/if}
#{/set}

</br>
<form action = "${action}">
		
				#{field 'porudzbina.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}

				<p>
				#{field 'restoran'}
					<label for = "${field.id}">Restoran</label>
					<input style="margin-left: 50px; type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkaJelovnika'}
					<label for = "${field.id}">Stavka jelovnika</label>
					<input style="margin-left: 50px; type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>


</br>
</div>