#{extends 'standardForm.html' /}
#{set title:'Registracija' /}

<div class="container-fluid" align="center">
</br>
</br>
</br>
	<h1>Registracija</h1>


	#{set 'action'} 
	#{if mode == 'register'}
	@{Registracija.registracija()} 
	#{/if} 
	#{/set}


	<div class="panel" align="center">
		<p>
		<form action="${action}">

			#{field 'korisnik.id'} <input type="hidden" name="${field.name}"
				id="${field.id}" /> #{/}
			
			<p>
				#{field 'korisnik.ime'} <label for="${field.id}">Ime korisnika
					</label> <input type="text" name="${field.name}" id="${field.id}" />
				#{/}
			</p>
			<p>
				#{field 'korisnik.email'} <label for="${field.id}">Email korisnika
					</label> <input type="text" name="${field.name}" id="${field.id}" />
				#{/}
			</p>
			<p>
				#{field 'korisnik.adresa'} <label for="${field.id}">Adresa korisnika
					</label> <input type="text" name="${field.name}" id="${field.id}" />
				#{/}
			</p>
			<p>
				#{field 'korisnik.sifra'} <label for="${field.id}">Sifra korisnika
					</label> <input type="password" name="${field.name}" id="${field.id}" />
				#{/} 
			</p>
			<p>
				#{field 'korisnik.sifra'} <label for="${field.id}">Potvrdite sifru
					</label> <input type="password" name="${field.name}" id="${field.id}" />
				#{/} 
			</p>
			
			
			
			<div id="formActions">
				<input type="submit" value="Potvrda" style="margin-left: 6em" />
			</div>
			
	</div>
</div>