#{extends 'standardForm.html' /}
#{set title:'Strana za goste' /}

<html>
<head>
<meta charset="UTF-8">
<style>
p.solid {border-style: solid; color: rgb(0, 153, 204);}
button { margin: -20px -50px;
		 position:relative;
    	 top:50%; 
    	 left:50%;}
</style>
</head>
</br>

<h1>Gost
	<tr>
		<a href="http://localhost:9000/Logout/show" id = "korisnici"><button  style="margin-left: 15em">Izloguj se</button></a>
	</tr>
</h1>

</br>
<h2> Ime i prezime: 
	#{list items:korr, as:'k'}
	<tr>
		<td>${k.ime}</td>
	</tr>
	#{/list}
</h2>

</br>
<h2> Adresa:
	#{list items:korr, as:'k'}
	<tr>
		<td>${k.adresa}</td>
	</tr>
	#{/list}
</h2>

</br>
<h2> Broj poseta:
	#{list items:korr, as:'k'}
	<tr>
		<td>${k.brojPoseta}</td>
	</tr>
	#{/list}
</h2>

</br>
<h2> Izmena podataka:  
	<tr>
		<a href="http://localhost:9000/Korisnici/show" id = "korisnici"><button style="margin-left: -25em">Izmeni podatke</button></a>
	</tr>
	<tr>
		<a href="http://localhost:9000/Prijatelji/show" id = "korisnici"><button style="margin-left: 2em">Izmeni prijatelje</button></a>
	</tr>
</h2>

</br>
<h2> Korisni linkovi:
	<tr>
		<a href="http://localhost:9000/Restorani/show" id = "korisnici"><button style="margin-left: -25em">Lista restorana</button></a>
	</tr>
	<tr>
		<a href="http://localhost:9000/Prijatelji/show" id = "korisnici"><button style="margin-left: 2em">Lista prijatelja</button></a>
	</tr>
</h2>


</br>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Restorani/show" id = "korisnici">Rezervazija termina u restoranu
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Prijatelji/show" id = "korisnici">Pozovite prijatelja
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Restorani/show" id = "korisnici">Ocenite restoran
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Jelovnici/show" id = "korisnici">Porucite jelo
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Rezervacije/show" id = "korisnici">Otkazite rezervaciju
</div>
</br>

</html>

