#{extends 'standardForm.html' /}
#{set title:'Strana za konobare' /}

<html>
<head>
<meta charset="UTF-8">
<style>
p.solid {border-style: solid; color: rgb(0, 153, 204);}
button { margin: -20px -50px;
		 position:relative;
    	 top:50%; 
    	 left:50%;}
</style>
</head>
</br>

<h1>Konobar
	<tr>
		<a href="http://localhost:9000/Logout/show" id = "korisnici"><button style="margin-left: 6em">Izloguj se</button></a>
	</tr>
</h1>

</br>
<h2> Ime i prezime: 
	#{list items:korr, as:'k'}
	<tr>
		<td>${k.ime}</td>
	</tr>
	#{/list}
</h2>

</br>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/RasporediRada/show" id = "korisnici">Raspored rada
</div>
</br>

<div align=center>
      <a href="http://localhost:9000/Dostava/show" id = "korisnici">Unos/Izmena porudzbine jela
</div>
</br>

<div align=center>
      <a href="http://localhost:9000/DostavaPica/show" id = "korisnici">Unos/Izmena porudzbine pica
</div>
</br>

<div align=center>
      <a href="http://localhost:9000/Dostava/show" id = "korisnici">Zavrsi porudzbinu jela i kreiraj racun
</div>
</br>

<div align=center>
      <a href="http://localhost:9000/DostavaPica/show" id = "korisnici">Zavrsi porudzbinu pica i kreiraj racun
</div>
</br>

<div align=center>
      <a href="http://localhost:9000/Korisnici/show" id = "korisnici">Azuriranje podataka
</div>
</br>
</html>