#{extends 'standardForm.html' /}
#{set title:'Strana za menadzere' /}

<html>
<head>
<meta charset="UTF-8">
<style>
p.solid {border-style: solid; color: rgb(0, 153, 204);}
button { margin: -20px -50px;
		 position:relative;
    	 top:50%; 
    	 left:50%;}
</style>
</head>
</br>

<h1>Menadzer
	<tr>
		<a href="http://localhost:9000/Logout/show" id = "korisnici"><button style="margin-left: 6em">Izloguj se</button></a>
	</tr>
</h1>

</br>
<h2> Ulogovani korisnik je: 
	#{list items:korr, as:'k'}
	<tr>
		<td>${k.ime}</td>
	</tr>
	#{/list}
</h2>

</br>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Jelovnici/show" id = "korisnici">Dodavanje jelovnika
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/KartePica/show" id = "korisnici">Dodavanje karte pica
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Restorani/show">Izmena restorana
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Korisnici/showZaposleni" id = "korisnici">Evidencija zaposlenih
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/OcenaRestorana/show" id = "korisnici">Ocena restorana
</div>
</br>

</html>