<html>
<head>
<title>Rezervacija stola</title>
<style>
.button {
    background-color: #4CAF50;
	width: 150px;
	height: 100px;
}
</style>
</head>
    <body align="center">
    </br>
    
    <h1>Raspored stolova u ${restoran.nazivRestorana}</h1>
    
    </br>
    </br>
        
		<h2>Rezervisite sto</h2>
		
        <table border="0" align="center">
            <script language="javascript" type="text/javascript">
            
            	var dimX = ${restoran.dimX};
				var dimY = ${restoran.dimY};
     			var brojac=0;
                for (var i = 1; i <= dimX; i++) 
                {
                	document.write("<tr>");
                	for(var j=1 ; j<=dimY; j++){
                		brojac++;
                		document.write("<td><button id=" + brojac + " class=button onclick=reply_click(this.id)>" + brojac + "</button></td>")
                	}
                	document.write("</tr>");
                }
               
            </script>            
        </table>

<script>
    function reply_click(clicked_id)
    {
    	document.getElementById(clicked_id).style.background='#ff0000';
    	document.getElementById("brojStola").value = clicked_id;
        //alert(clicked_id);
    }
</script>
  
<p>
<ul>
  <li><a href="@{Restorani.rezervacija("add",null)}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
</ul>
</p>    
    
    
<div class = "panel">
<p>
	
	#{set 'action'}
    #{if mode == 'add'}
        @{Restorani.rezervacija()}
    #{/if}
  	#{/set} 
	
		<form action = "${action}">
					
				<p>
				#{field 'broj'}
					<label for = "${field.id}">Broj stola</label>
					<input style="margin-left: 50px; type = "text" name = "${field.name}" id = "brojStola" readonly/>
				#{/}
				</p>
				
				<p>
				#{field 'restoran'}
					<label for = "${field.id}">Restoran</label>
					<input style="margin-left: 50px; type = "text" name = "${field.name}" value="${restoran.nazivRestorana}" id = "brojStola" readonly/>
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
				</div>			
				
		</form>
</p>
</div>
    
    
     
</body>
</html>
