#{extends 'standardForm.html' /}
#{set title:'Korisnici'/}

<p>
<ul>
  <li><a href="http://localhost:9000/Logout/show" id = "nextform">Izloguj se<img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>



<div class = "container-fluid">
<h1>Morate promeniti sifru</h1>

#{set 'action'}
     @{Logovanje.novaSifra()}
#{/set}

  
<div class = "panel">
	<p>
	
		<form action = "${action}">
		
				#{field 'korisnik.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}

				<p>
				#{field 'korisnik.sifra'}
					<label for = "${field.id}">Sifra</label>
					<input type = "password" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>

				<p>
				#{field 'korisnik.sifra'}
					<label for = "${field.id}">Potvrdite sifru</label>
					<input type = "password" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda"/>
				</div>			
				
		</form>
	</p>
</div>

<!-- Modal -->
  <div class="modal fade" id="drzaveModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Restorani koje se nalaze u sistemu:
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Naziv restorana</th> 
		   <th>Opis restorana</th>
		</tr>
		#{list items:restorani, as:'restoran'}
		<tr>
			<td class = "nazivRestorana">${restoran.nazivRestorana}</td>
			<td class = "opisRestorana">${restoran.opisRestorana}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "dr_id">${restoran.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "drzavaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>




